<!doctype html>
<% if (inDev){ %>
<html lang="en-gb" data-build-env="development">
<% } else { %>
<html lang="en-gb">
<% } %>
  <head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>changeme</title>

	<!-- TODO: Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="/styles/main.css">

	<script type="module" src="/scripts/entry.js"></script>
  </head>
  <body>
	<!--[if lt IE 10]>
	  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div>Hi there.</div>

	<!-- <script async src="/scripts/vendor/side-effect-script.js"></script> -->
  </body>
</html>
